@{
    ViewData["Title"] = "Авторизация";
    Layout = "_Layout";
    
}


<div class="container-md">
    <form method="post" action="~/Account/Login/">
        <div class="form-group">
            <div class="p-2">
                <label for="login">Логин</label>
                <input class="form-control" type="text" name="Login" placeholder="Введите логин или e-mail"/>
            </div>
            <div class="p-2">
                <label for="pass">Пароль</label>
                <input class="form-control" type="password" name="Password" placeholder="Give me a password"/>
            </div>
            <div class="p-2">
                <input class="btn btn-primary" type="submit" value="Вход">
                <a href="~/Account/Register" class="btn btn-warning">Регистрация</a>
            </div>
            <div>
                <p class="text-dark p-2">@ViewBag.ErrorDesc</p>
            </div>
        </div>
    </form>
</div>