@{
    Layout = "_Layout";
    ViewData["Ttile"] = "Создание профиля";
}

<form method="post" action="~/profile/CreateProfile/">
    <div class="form-group">
        <div class="p-2">
            <label for="Name">Имя</label>
            <input class="form-control" type="text" name="Name" placeholder="Введите имя"/>
        </div>
        <div class="p-2">
            <label for="Surname">Фамилия</label>
            <input class="form-control" type="text" name="Surname" placeholder="Введите фамилию"/>
        </div>
        <div class="p-2">
            <label for="Age">Возраст</label>
            <input class="form-control" type="number" name="Age" placeholder="Введите возраст"/>
        </div>
        <div class="p-2">
            <label for="Languages">Языки</label>
            <input class="form-control" type="text" name="Languages" placeholder="Введите языки, которыми вы владеете"/>
        </div>
        <div class="p-2">
            <label for="University">Университет</label>
            <input class="form-control" type="text" name="University" placeholder="Введите унивеситет"/>
        </div>
        <div class="p-2">
            <label for="City">Город</label>
            <input class="form-control" type="text" name="City" placeholder="Введите город"/>
        </div>
    </div>
    <button type="submit">Создать</button>
</form>